<h1>Sign Me Up</h1>
<fieldset>
    <form name="signForm" novalidate>

        <input type="text" name="firstName" placeholder="first name" ng-model="signCtrl.firstName" 
        required minlength="3" ng-maxlength="15" class="user-entry"> 
        <span ng-if="(signForm.firstName.$error.minlength || signForm.firstName.$error.required) && signForm.firstName.$touched">
            First name must be at least 3 characters long
          </span>
        <span ng-if="signForm.firstName.$error.maxlength && signForm.firstName.$touched">
            First name must not be longer than 15 characters
          </span>
        <br>

        <input type="text" name="LastName" placeholder="last name" ng-model="signCtrl.lastName" 
        required minlength="2" ng-maxlength="15" class="user-entry"> 
        <span ng-if="(signForm.lastName.$error.minlength || signForm.lastName.$error.required) && signForm.lastName.$touched">
            Last name must be at least 2 characters long
          </span>
        <span ng-if="signForm.lastName.$error.maxlength && signForm.lastName.$touched">
            Last name must not be longer than 15 characters
          </span>
        <br>

        <input type="email" name="email" placeholder="Email" ng-model="signCtrl.email" required 
        class="user-entry">
        <span ng-if="signForm.email.$invalid && signForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
        <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####" ng-model="signCtrl.phone" 
        pattern="(\d{3})-(\d{3})-(\d{4})" class="user-entry">
        <span ng-if="signForm.phone.$invalid && signForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
        <br>

        <input type="text" name="favouriteDish" placeholder="Favourite Dish (Short Name)" 
        ng-model="signCtrl.favouriteDish" required class="user-entry">
        <span ng-if="signForm.favouriteDish.$invalid && signForm.favouriteDish.$touched">
            Must present a Favourite Dish.
          </span>
        <br>

        <button ng-disabled="signForm.$invalid" ng-click="signCtrl.submit()" class="btn btn-primary">
    Submit</button>
    <br />
    <span ng-if="signCtrl.RESTFailed">No such menu number exists</span>
    <br />
    <span ng-if="signCtrl.completed">
        Your information has been saved
    </span>
    </form>
</fieldset>